@{
    var title = "Crear comprobantes";
}

<h1>@title</h1>

<form action="/Voucher/Create" method="post" class="form-group">
    <div class="form-group">
        <label>Descripción</label>
        <input type="text" name="description" value="" />
    </div>

    <div class="form-group">
        <button class="btn btn-success">Guardar</button>
        <a href="/Voucher/Vouchers" class="btn btn-danger">Cancelar</a>
    </div>
</form>
