@using Inventario.Models
@model VoucherModel
@{
    var title = "Actualizar comprobante";
}

<h1>@title</h1>

<form action="/Voucher/Update" method="post" class="form-group">
    <input type="hidden" name="id" value="@Model.id" />
    <div class="form-group">
        <label>Descripción</label>
        <input type="text" name="description" value="@Model.description" />
    </div>

    <div class="form-group">
        <button class="btn btn-success">Actualizar</button>
        <a href="/Voucher/Vouchers" class="btn btn-danger">Cancelar</a>
    </div>
</form>

