@using Inventario.Models;
@using System.Web;
@model List<VoucherModel>
@{
    var title = "Comprobantes";
    var vouchers = Model != null ? Model : new List<VoucherModel>();
    var messageType = ViewBag.messageType != null ? ViewBag.messageType : "success";
    var message = ViewBag.message != null ? ViewBag.message : "";
}

<h1>
    @title
    <a href="/Voucher/Create" class="btn btn-primary float-right">Nuevo</a>
</h1>

@if (!String.IsNullOrEmpty(message)) {
    <div class="alert alert-@messageType alert-dismissible fade show message" role="alert">
        @message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (vouchers.Count > 0) {
    <div class="table table-responsive">
        <table id="inventoryTable" class="display compact wrap hover">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var voucher in Model) {
                    <tr>
                        <td>@HttpUtility.HtmlDecode(voucher.description)</td>
                        <td>
                            <a href="/Voucher/Update/@voucher.id">Editar</a>
                            <a href="/Voucher/Delete/@voucher.id">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
} else {
    <h5 class="text-warning">No existen comprobantes</h5>
    <a href="/Voucher/Create">Crear comprobante</a>
}

@section Scripts{

}
