@using Inventario.Models;
@using System.Web;
@model List<CategoryModel>
@{
    var title = "Categorias";
    var categories = Model != null ? Model : new List<CategoryModel>();
    var messageType = ViewBag.messageType != null ? ViewBag.messageType : "success";
    var message = ViewBag.message != null ? ViewBag.message : "";
}

<h1>
    @title
    <a href="/Category/Create" class="btn btn-success float-right">Nuevo</a>
</h1>

@if (!String.IsNullOrEmpty(message)) {
    <div class="alert alert-@messageType alert-dismissible fade show message" role="alert">
        @message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (categories.Count > 0) {
    <div class="table table-responsive">
        <table id="inventoryTable" class="display compact wrap hover">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model) {
                    <tr>
                        <td>@HttpUtility.HtmlDecode(category.description)</td>
                        <td>
                            <a href="/Category/Update/@category.id">Editar</a>
                            <a href="/Category/Delete/@category.id">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
} else {
    <h5 class="text-warning">No existen categorias</h5>
    <a href="/Category/Create">Crear categoría</a>
}

@section Scripts{
    <script></script>
}
