@using Inventario.Models;
@using System.Web;
@model List<TypePaymentModel>
@{
    var title = "Tipos de pagos";
    var types = Model != null ? Model : new List<TypePaymentModel>();
    var messageType = ViewBag.messageType != null ? ViewBag.messageType : "success";
    var message = ViewBag.message != null ? ViewBag.message : "";
}

<h1>
    @title
    <a href="/TypePayment/Create" class="btn btn-primary float-right">Nuevo</a>
</h1>

@if (!String.IsNullOrEmpty(message)) {
    <div class="alert alert-@messageType alert-dismissible fade show message" role="alert">
        @message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (types.Count > 0) {
    <div class="table table-responsive">
        <table id="inventoryTable" class="display compact wrap hover">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var type in Model) {
                    <tr>
                        <td>@HttpUtility.HtmlDecode(type.description)</td>
                        <td>
                            <a href="/TypePayment/Update/@type.id">Editar</a>
                            <a href="/TypePayment/Delete/@type.id">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
} else {
    <h5 class="text-warning">No existen tipos de pagos</h5>
    <a href="/TypePayment/Create">Crear tipo de pago</a>
}

@section Scripts{

}
